body{
    background-color: azure;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    border: 1px solid blanchedalmond;
    border-radius: 4px;
    text-align: center;
    width: 350px;
}

button {
    display: inline-block;
    padding: 10px 15px;
    background-color: aquamarine;
    border: none;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;
}
button:hover {
    background-color: blanchedalmond;
}
input{
    margin: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid blanchedalmond;
    border-radius: 4px;
    
}